.fullpage {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.page {
  margin: auto;
  /* margin-right: 30%;
  margin-left: 30%; */
  width: 600px;
  /* height: 100%; */
  background-color: white;
}

.container {
  border: 1px solid black;
  margin-top: 150px;
  padding: 25px;
}

.toolbar {
  text-align: left;
  margin-bottom: 30px;
  /* padding: 30px;
  padding-bottom: 15px; */
}

.controlBtn {
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

.controlBtn>Button {
  padding: 5px 30px;
  /* background-color: cornsilk; */
}

.controlBtn>.UploadBtn {
  margin-right: 10px;
}

.controlBtn>.UploadBtn:hover {
  background: blue;
  color: white;
}

.controlBtn>.Cancel:hover {
  background: red;
  color: white;
}


.controlBtn-folder {
  margin: 20px auto 0 auto;
  text-align: center;
}

.controlBtn-folder>.UploadBtn {
  background-color: #cfd8dc;
  padding: 10px 45px;
  margin-right: 5px;
}

.controlBtn-folder>.Cancel {
  background-color: white;
  padding: 10px 35px;
  margin-left: 5px;
}


.UploadBox {
  /* border: 1px solid brown; */
  box-sizing: border-box;
  margin: auto;
  width: 350px;
  /* height: 250px; */
}

.dropZone {
  margin: auto;
  /* margin-left: 15%;
  margin-right: 15%; */
  /* margin-bottom: 20px; */
  /* padding: 50px 0px;
  height: 100%;

  box-sizing: border-box;
  background-color: red; */
  text-align: center;
  vertical-align: middle;
}

.dropZoneText {
  text-align: center;
  vertical-align: middle;
  color: "red";
}

.addBtn {
  position: fixed;
  bottom: 0;
  right: 0;
  float: right;
}

.root {
  height: 380;
  flex-grow: 1;
}

.speedDial {
  position: fixed;
  bottom: 16px;
  right: 16px;

}

.fontStyle {
  margin-top: 11px;
}

.bg-test {
  background-color: yellow;
}

.bg-testw {
  background-color: red;
}