.swal-modal {
  font-family: "Sarabun";
}
.swal-title {
  font-family: "Sarabun";
}
.swal-text {
  font-family: "Sarabun";
}
.swal-button {
  font-family: "Sarabun";
  background-color: #e0e0e0;
  color: black;
}
.swal-footer {
  align-items: center;
  text-align: center;
}
.swal {
  font-family: "Sarabun";
}
